<app-topbar>
  <app-topbar-title>P&C</app-topbar-title>
  <app-topbar-menu>
    <app-button color="primary" value="Home" [routerLink]="['/']" [routerLinkActive]="'active-route'"
      [routerLinkActiveOptions]="{exact: true}"></app-button>
    <app-button color="primary" value="Persons" [routerLink]="['/persons']" [routerLinkActive]="'active-route'"
      [routerLinkActiveOptions]="{exact: true}"></app-button>
    <app-button color="primary" value="Colors" [routerLink]="['/colors']" [routerLinkActive]="'active-route'"
      [routerLinkActiveOptions]="{exact: true}"></app-button>
  </app-topbar-menu>
</app-topbar>

<div class="app-body">
  <router-outlet></router-outlet>
</div>
