<div class="container">
  <app-panel>
    <div panel-header>
      <span>Example Panel</span>
    </div>
    <div panel-body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at congue sapien, ac blandit erat.
        Suspendisse
        consequat dignissim metus. Pellentesque sodales dictum mollis. Duis iaculis dui augue, sollicitudin tempor felis
        pretium ut. Sed libero tellus, scelerisque sit amet est ac, mattis viverra orci. Vestibulum ante ipsum primis in
        faucibus orci luctus et ultrices posuere cubilia Curae; Proin fringilla lacus vitae dapibus feugiat. Phasellus
        nec
        rhoncus mi. Cras sed leo neque. Vivamus sit amet pellentesque risus. Ut augue enim, posuere at volutpat nec,
        cursus
        vulputate nibh. Morbi elementum sagittis turpis sit amet lacinia. Ut egestas mattis nisi, non eleifend est.
        Aliquam
        scelerisque massa molestie justo rutrum, ut lacinia purus consectetur. Phasellus in massa sed odio placerat
        faucibus
        ut a magna. Curabitur ultricies id metus vitae fringilla.</p>
    </div>
    <div panel-footer>
      <app-button color="primary" value="OK" [disabled]="true"></app-button>
      <app-button color="primary" value="OK" [disabled]="false"></app-button>
      <app-button value="Click me!" [disabled]="true"></app-button>
      <app-button value="Click me!" [disabled]="false"></app-button>
      <app-button color="warning" value="Alert" [disabled]="true"></app-button>
      <app-button color="warning" value="Alert" [disabled]="false"></app-button>
      <app-button color="danger" value="OPS" [disabled]="true"></app-button>
      <app-button color="danger" value="OPS" [disabled]="false"></app-button>
    </div>
  </app-panel>